
<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/">Accueil</a></li>
		<li><a href="{{ site.url }}/about/">À propos</a></li>
		<li><a href="{{ site.url }}/posts/">Archives</a></li>
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
<nav id="top-menu">
	<ul>
		<li><a href="{{ site.url }}/">Accueil</a></li>
		<li><a href="{{ site.url }}/posts/">Archives</a></li>
		<li><a href="{{ site.url }}/about/">À propos</a></li>
	</ul>
</nav>	
